<div class="card" id="card" (click)="route(data)">
   <div class="card__title">
        <img [src]="data.user.avatar_url" [alt]="data.user.type"/>
        {{data.title}} <span class="card__title__number">#{{data.number}}</span> 
   </div>
    <a class="label" [ngStyle]="{'background-color': '#'+label.color}" *ngFor="let label of data.labels" >
        <span>
            {{label.name}}
        </span>
    </a>
    <p class="card__summary">
        {{limit(data.body)}}
    </p>
    <div class="card__author">
       - {{data.user.login}}  
    </div>
</div>