.card{
    margin: 0.875rem;
    border: 1px solid #ddd;
    padding:0.875rem;
    min-height: 12rem;
    max-height: 12rem;

    box-shadow: 3px 3px 5px #ddd;
    border-radius:0.5rem;
    transition: 1s;
    &:hover{
        transform: scale(1.02);
        cursor: pointer;
    }
    word-break: break-all ;
    img{
        height: 3rem;
        border-radius: 100%;
        border:2px solid #ddd;
        float:right;
    }
}
