<div class="card" (click)="route(data)">
   <div>
        <img [src]="data.user.avatar_url" [alt]="data.user.type"/>
        {{data.title}} #{{data.number}} 
   </div>
    <ul>
        <li>
            Labels
            <span *ngFor="let label of data.labels" [ngStyle]="{'color': '#'+label.color}">
                {{label.name}} &nbsp;
            </span>
        </li>
        <li>
            {{data.user.login}}  
        </li>
    </ul>
    <div>
        {{limit(data.body)}}
    </div>
</div>