.card{
    margin: 0.875rem;
    padding:0.875rem;
    min-height: 12rem;
    height: 12rem;
    overflow: hidden;
    word-break: break-all ;
    border-radius:0.5rem;
    border: 1px solid #ddd;
    box-sizing: border-box;
    box-shadow: 2px 3px 5px #ddd;
    transition: 1s;
    &:hover{
        box-shadow: 4px 5px 8px #ddd;
        cursor: pointer;
    }
    &__title{
        font-weight: 600;
        color: #2a2d53;
        &__number{
            color: #5794d3;
        }
    }
    &__summary{
        font-size:0.875rem;
    }
    &__author{
        text-align: right;
    }
    img{
        height: 2.5rem;
        border-radius: 100%;
        float:right;
        border:2px solid #ddd;
    }
    .label{
        font-size:0.975rem;
        border-radius:.5rem;
        padding:0 .5rem;
        line-height: 1.825rem;
        margin-right: .2rem;
    }
}
