.card{
    margin: 0.875rem;
    border: 1px solid #ddd;
    padding:0.875rem;
    min-height: 12rem;
    height: auto;
    img{
        height: 4rem;
    }
    .comment-img{
        height: 2rem;
        border-radius: 100%;
    }
    .label{
        background-color: #8a8181;
        padding:.2rem;
    }
}