<div class="wrapper">
    <div class="wrapper__card">
        <a [routerLink]="['/']">Back</a>
        <div>
            <h2 class="wrapper__card__title">{{issueDetails?.title}} </h2>
        </div>
        <div class="main">
            <div class="info">
                <div class="info__item">
                    <div class="info__item__subtitle">
                        Status
                    </div>
                    <ng-container *ngIf="issueDetails?.state===''">
                        No State
                    </ng-container>
                    {{issueDetails?.state}}
                </div>
                <div class="info__item">
                    <div class="info__item__subtitle">    
                        Labels
                    </div>
                    <ng-container *ngIf="issueDetails?.labels.length===0">
                        No labels
                    </ng-container>
                    <a [href]="label?.url" class="info__item__subtitle__label"  target="_blank"
                        [ngStyle]="{'background-color': '#'+label.color}" *ngFor="let label of issueDetails?.labels" >
                        <span >
                            {{label.name}}
                        </span>
                    </a>
                </div>
                <div class="info__item">
                    <div class="info__item__subtitle">
                        Created
                    </div>
                    <div>
                        {{issueDetails?.created_at | date}}
                    </div>
                </div>
                
                 <div class="info__item">
                    <div class="info__item__subtitle">
                        Update
                    </div>
                    <div>
                        {{issueDetails?.updated_at | date}}
                    </div>
                 </div>
                 <div class="info__item">
                    <div class="info__item__subtitle">
                        Closed
                    </div>
                    <ng-container *ngIf="!issueDetails?.closed_at">
                        Not Yet
                    </ng-container>
                    <div>
                        {{issueDetails?.closed_at | date}}
                    </div>
                 </div>
            </div>
            <div class="description">
                <b>Summary:</b>   
                <p class="description__body">   
                    
                    <a [href]="issueDetails?.user?.html_url" target="_blank" [title]="issueDetails?.user?.login">
                        <img class="description__body__avatar" [src]="issueDetails?.user?.avatar_url" [alt]="issueDetails?.user.type"/>
                    </a>
                    {{issueDetails?.body}}
                </p>

                <ng-container *ngIf="issueDetails?.comments">
                    <b>Comments:</b>
                    <ul class="timeline">
                        <li class="node" *ngFor="let comment of comments" >
                            <img class="comment-img" [src]="comment.user.avatar_url"  [alt]="comment.user.login"/> 
                            <a [href]="comment.user.html_url" [title]="comment.user.login" target="_blank">{{comment.user.login}}</a>, &nbsp;<span class="comment-date">Commented on {{comment.updated_at | date:'short'}}</span>
                            <p class="comment-text" [innerHTML]="comment.body | link:comment.user.html_url"></p>
                        </li>
                    </ul>    
                </ng-container>  
            </div>
        </div>
    </div>  
</div>

<div class="parent" *ngIf="loader">
    <div class="loader">
    </div>
</div>
